<div id="footer" class="container">
  <h6 style="float: right">&copy; 2020 Tyler Cecil</h6>
  <a class="subscribe" href="/feed/atom.xml">
    <!-- SVG taken from: http://genericons.com/ -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                            height="1.5rem" width="1.5rem">
      <rect x="0" fill="none" width="16" height="16"/>
      <g>
      <path d="M2 6v2c3.3 0 6 2.7 6 6h2c0-4.4-3.6-8-8-8zm0-4v2c5.5 0 10 4.5 10 10h2C14 7.4 8.6 2 2 2zm1.5 9c-.8 0-1.5.7-1.5 1.5S2.7 14 3.5 14 5 13.3 5 12.5 4.3 11 3.5 11z"/>
      </g>
    </svg>
    Subscribe via RSS
  </a>
  <br/>
  <a class="subscribe"
     href="https://blogtrottr.com/?subscribe=https://tylercecil.com/feed/atom.xml"
     target="_blank"
     title="Powered by BlogTrottr">
    <!-- SVG taken from: http://genericons.com/ -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                            height="1.5rem" width="1.5rem">
      <rect x="0" fill="none" width="16" height="16"/>
      <g>
      <path d="M15 9h-5c-.6 0-1 .4-1 1v5c0 .6.4 1 1 1h5c.6 0 1-.4 1-1v-5c0-.6-.4-1-1-1zm0 4h-2v2h-1v-2h-2v-1h2v-2h1v2h2v1zm-3-5V5c0-1.1-.9-2-2-2H2C.9 3 0 3.9 0 5v5c0 1.1.9 2 2 2h6v-2c0-1.2.8-2 2-2h2zM6 9.1L1 6.2V5l5 2.9L11 5v1.2L6 9.1z"/>
      </g>
    </svg>
    Subscribe via Email
  </a>
</div>
