<!DOCTYPE html>
<html lang="en">
  <head>
    ${ header.html() }
  </head>
  <body>

    <div class="container">
      ${ navbar.html() }

      <h1>Hey, I'm Tyler!</h1>
      <div class="row">
        <div class="one-third column">
          <img id="about-icon" src="/images/me_circ.png"/>
        </div>

        <div class="two-thirds column">
          <p>
          I am an aspiring linguist, who has no idea what he's talking about.
          </p>
          <p>
          My background is in Mathematics and Computer Science, with a strong
          focus in Type Theory and Logic.
          </p>
          <p>
          This blog is where I write about the things I'm learning, to make sure
          I understand.
          </p>
        </div>
      </div>

      ${ footer.html() }

    </div>
  </body>
</html>
