<!DOCTYPE html>
<html lang="en">
  <head>
    ${ common/header.html() }
    <style>
      .post {
        border-left: var(--side-border);
        padding-left: var(--indent);
        margin-bottom: var(--element-margin);
      }

      .post:hover {
        border-color: var(--color-link-active);
      }

      .post * {
        margin-bottom: 0;
      }
    </style>
    <script src="https://cdn.commento.io/js/count.js"></script>
  </head>

  <body>

    <header>
      <img src="/images/tc-logo.svg"
           alt="Tyler Cecil's Blog"
           style="width: 100%; max-width: 200px; margin: auto"
      />
      <h1 style="text-align:center; margin: 0;">
        Tyler Cecil's Blog
      </h1>
      <h5 style="text-align: center; margin: -1rem 0;">on</h5>
      <h4 style="text-align: center;">Language, Logic, and Life</h4>
    </header>

    ${ common/navbar.html() }

    ${ for(posts) }
    <div class="post">
      <a href="$it.url$">
        <h3> $it.title$ </h3>
        $if(it.subtitle)$<h5>$it.subtitle$</h5>$endif$
      </a>
      <h6> $it.date$ </h6>
      $if(it.update)$
      <h6><i>Updated: $it.update$</i></h6>
      $endif$
      <p>
      $it.abstract$
      </p>
      <a href="$it.url$#commento"></a>
    </div>
    ${ endfor }

    ${ common/footer.html() }

  </body>
</html>
