<!DOCTYPE html>
<html lang="en">
  <head>
    ${ header.html() }
  </head>
  <body>
    <div class="container">
      <h1> Hey, I'm Tyler, </h1>
      <div style="background:url(/images/me.jpg) right no-repeat;
                    background-size:280px; background-position:center;
                    width:260px; height:260px;
                    border-radius:190px;
                    -webkit-border-radius: 190px;
                    -moz-border-radius: 190px;
                    margin: 0 auto"></div>
      <div style="padding:20px; text-align:right;">
        <h3>a master of very little.</h3>
      </div>

      <h2>Posts</h2>
      <div class="post-list">
        ${ for(posts) }
        <div class="post-elem">
          <div class="row post-title">
            <div class="ten columns"><a href="$it.url$"><h3>
                  $it.title$
                </h3></a></div>
                <div class="two columns"><h6 class="date">
                    $it.date$
                  </h6></div>
          </div>

          <p class="post-blerb">
          $it.abstract$
          </p>
        </div>
        ${ endfor }
      </div>

      ${ footer.html() }

  </body>
</html>
