<!-- Navigation Bar -->
<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a class="navbar-link $if(home)$ active $endif$"
           href="/">Home</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link $if(blog)$ active $endif$"
           href="/blog">Blog</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link $if(about)$ active $endif$"
           href="/About">About</a>
      </li>
    </ul>
  </div>
</nav>
<!-- /.Navigation Bar -->
