<!DOCTYPE html>
<html lang=$if(lang)$$lang$$else$"en"$endif$>
  <head>
  ${ header.html() }
  </head>
  <body>
    <div class="container">

      <div id="title">
      <h1>$title$</h1>
        $if(subtitle)$<h5>$subtitle$</h5>$endif$
        <h6>Posted on $date$</h6>
        $if(update)$<h6>Last updated on $update$</h6>$endif$
        <hr>
      </div>
      $if(note)$
      <div class="note">
        $note$
      </div>
      $endif$
      <div class="post">

$body$

      </div>

      <h4><a href="/"> See More Posts </a> </h4>

      ${ footer.html() }

    </div>
  </body>
</html>
